@import "tailwindcss";

@theme {
  --bg-main-color: hsl(var(--background));
}

@layer base{
    :root{
      --background: 200 90% 85%;
    }

    .dark{
      --background: 222 17% 2%;
    }
}

body{
  background-color: black;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width>= 640px){
    max-width: 640px;
  }
  @media (width>= 768px){
    max-width: 768px;
  }
  @media (width>= 1024px){
    max-width: 1024px;
  }
  @media (width>= 1280px){
    max-width: 1280px;
  }
  @media (width>= 1400px){
    max-width: 1400px;
  }
}
